@charset "utf-8";
*{
    margin:0;
    padding:0;
}
html{
    width:100%;
}
body{
    width:100%;
}
.margin{
    width:980px;
    margin:0 auto;
}


.d1{
    position:relative;
    z-index: 2;
    height:46px;
    background:#323232;
    ul{
        
        display: flex; 
        justify-content: space-between;
        #l0{
                
                width:200px;
                a{
                    width:100%;
                }
            }
        li{
            width:68px;
            height:40px;
            text-align: center;
            border:3px double #323232;
            
            ul{
                 display: none;
                 position: absolute;
                 top:47px;
              li{
                     width:68px;
                     height:30px;
                     text-align: center;
                     border:3px solid #000;
                     border-radius:20px ;
                  a{
                    font:12px/30px "";
                    color:#fff; 
                  }
              }
            }
            ul:hover li{
                border:3px double #fff;
                border-radius: 20px;
                transition: 1s;
                font:700 12px/30px ""; 
            }
            a{
                    font:700 12px/44px "";    
                    color:#fff;
           
            } 
           
        }
        #btn{
            background:#C0C0C0;
            font:12px/20px "";
             color:#fff;
             width:35px;
             height:20px;
             margin:13px 0;
             border-radius: 3px;
        }
        li:hover{
            border:3px double #009b72;
            border-radius: 20px;
            transition: 1s;
        }
        li:hover a{
            font:700 12px/44px "";
            color:#009b72;
        }
       
    }
} 
section{
    background:#f1f1f1;
    padding-top:48px;
    .a1{
        
        height:80px;
        background:#fff;
        border:1px solid #C0C0C0;
        border-radius: 6px;
        box-shadow:0 2px 3px #888888;
        span{
            font:14px/80px "微软雅黑";
            color:#333333;
        }
        img{
            margin-left:24px;
        }
    }
    ul{
        height:416px;
        background:#fff;
        margin-top:10px;
        border:1px solid #C0C0C0;
        border-radius: 6px;
        box-shadow: 0 2px 3px #888;
        .l1{
         width:936px;
         height:52px;
         margin:6px auto;
         border-bottom:1px solid #d5d5d5;
         p{
            font:22px/52px "微软雅黑";
            color:#333333;
         }
        }
        .l2{
            height:162px;
            width:936px;
            margin:6px auto;
            border-bottom:1px solid #d5d5d5;
            display: flex;
            .l{
                img{
                    width:38px;
                    height:78px;
                    margin:24px 75px 60px 75px;
                }
            }
            .r{
                .top{
                    width:746px;
                    height:50px;
                    border-bottom:1px solid #d5d5d5;
                    span{
                        font:700 14px/50px "微软雅黑";
                        color:#000;
                    }
                    a{
                        margin-left:290px;
                    }
                    input{
                        width:30px;
                        height:20px;
                        border-radius: 3px;
                        border:1px solid #d5d5d5;
                        margin-left:48px;
                    }
                    .s1{
                        margin-left:30px;
                    }
                }
                .middle{}
                .bottom{}
            }
        }
    }   
    
}




footer{
    margin-top: 3px;
    background:#f2f2f2;
    .fo{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        dl{
            width:196px;
            margin-top:22px;
            dt{
                font:700 10px/20px "";
                color:#333333;
            }
            dd{
                font:10px/20px "";
                color:#555555;

            }
            dd:hover a{
                border-bottom:1px solid #009B72;
                color:#009B72;
            }
            .d6{
                margin-top:26px;
            }
            .d2{
                margin-top:26px;
            }
        }
    }
    .f1{
        p{
            font:10px/30px "";
            color:#888895;
            width:980px;
            border-bottom:1px solid #c0c0c0;
        }
        span{
            font:10px/36px "";
            color:#888895;
        }
        a{
            margin:0 6px;
            color:#222222;
        }
        a:hover{
            color:#009B72;
        }
    }
}


